{% extends "layout.twig" %}

{% block content %}
    <div class="container-narrow">
        <div class="jumbotron">
            <h1>
                {{ title }}
            </h1>

            <p class="lead">
                Default start page of Akademiano framework.
            </p>
            <a class="btn btn-large btn-success" href="https://github.com/mrdatamapper/akademiano-application">Github</a>
        </div>
    </div>
{% endblock content %}
