<meta charset="utf-8">
{{if pageTitle}}
<title>{{pageTitle}}</title>
{{end}}
{{unless pageTitle}}
<title>Delta Skeleton Application</title>
{{end}}

{{if pageDescription}}
<meta name="description" content="{{pageDescription}}" />
{{end}}
{{unless pageDescription}}
<meta name="description" content="Skeleton application on Delta php framework" />
{{end}}

<base href="/">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap-responsive.min.css">

<!--[if lt IE 9]>
<script src="static/lib/js/html5shiv.js"></script>
<![endif]-->
<script type='text/javascript' src="static/lib/jquery/jquery-1.10.2.min.js"></script>
<script type='text/javascript' src="static/lib/bootstrap/js/bootstrap.min.js"></script>
