{% extends "layoutError.twig" %}

{% block content %}
    <h1>Access Denied</h1>

    <hr>

    {% if not is_user_auth() %}
        <a href="{{ url("login") }}">Login</a>
    {% endif %}
{% endblock %}
