<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ pageTitle | default('DeltaPHP Demo Site') }}</title>
    <meta name="description"
          content="{{ pageDescription | default('Simple and fast PHP 5.4+ MVC framework with a modular organization') }}"/>
    <meta charset="utf-8">
    <base href="/">
    {% if canonicalRef %}
        <link rel="canonical" href="{{ canonicalRef }}"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/lib/bootstrap3/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="static/lib/js/html5shiv.js"></script>
    <script src="static/lib/js/respond.min.js"></script>
    <![endif]-->
    <script type='text/javascript' src="static/lib/jquery/jquery-1.11.0.min.js"></script>
    <script type='text/javascript' src="static/lib/bootstrap3/js/bootstrap.min.js"></script>
    {% block head %}

    {% endblock head %}
</head>
<body>

<div id="content">
    {% block container %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}

                    {% endblock content %}
                </div>
            </div>
        </div>
    {% endblock container %}
</div>

<hr>
<div class="footer">
    <p style="text-align: center">
        © <a href="http://deltaphp.org">DeltaPHP</a> 2014
    </p>
</div>

{% block counter %}

{% endblock counter %}

</body>
</html>